$black: #222222;
$pink-bkg: #f1e4e6;
$pink-color: #f09ba7;
$white-text: #ffffff;
$grey-text: #9f9f9f;
$grey-bkg: #f8f8f8;
$grey-item-text: #5d5d5d;
$grey-service-text: #f8f8f8;
$social-hover-fill: #f16d7f;
