.header {
  background-color: $black;
  min-height: 75px;
  display: flex;
  align-items: center;

  &__nav {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 75px;
    background-color: #ffffff;
    box-shadow: 0px 0 10px $grey-text;
  }

  &__nav-title {
    text-transform: uppercase;
    @include font(14px, 17px, 700);
    padding: 0 143px 0 34px;
    margin: 37px 0 24px 0;
  }

  &__pages-link-wrp {
    display: none;
    padding: 0 0 0 34px;
    margin: 5px 0 5px 0;

    @include mobile {
      display: block;
    }
  }

  &__page-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #f16d7f;
    @include font(14px, 17px, 700);

    &:hover {
      text-decoration: underline;
      color: $black;
    }

    &:active {
      text-decoration: underline;
      color: $black;
    }

    &:focus {
      text-decoration: underline;
      color: $black;
    }
  }

  &__nav-list {
    margin: 0 0 120px 0;

    @include mobile {
      margin: 24px 0 120px 0;
    }
  }

  &__link {
    text-decoration: none;
    margin: 0 0 0 33px;

    @include mobile {
      display: none;
    }
  }

  &__link-cart {
    position: relative;
  }

  &__link-cart-counter {
    display: none;
    color: #e8e8e8;
    position: absolute;
    z-index: 2;
    @include font(11px, 14px);
    top: -6px;
    right: -4px;
  }
  
  &__link-cart-counter-img {
    display: none;
    fill: #f16d7f;
    position: absolute;
    z-index: 1;
    top: -8px;
    right: -8px;
  }

  &__link-person {
    width: 29px;
    height: 29px;
    fill: #e8e8e8;
  }

  &__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-form-wrp {
    display: flex;

    @include tablet {
      margin: 0 0 0 16px;
    }

    @include mobile {
      margin: 0;
    }
  }

  &__logo {
    &:hover {
      animation: heartbeat 1.5s ease-in-out infinite both;
    }

    &:focus {
      outline: 1px solid #f16d7f;
    }

    &:active {
      outline: 1px solid #f16d7f;
    }
  }

  &__search {
    margin: 0 0 0 41px;
    display: flex;
  }

  &__search-form {
    margin: 0 0 0 10px;
    padding: 5px 0 0 0;
  }

  &__search-form-input {
    border-radius: 30px;

    @include mobile {
      width: 135px;
    }

    &:hover {
      background-color: #f1e4e6;
    }

    &:focus {
      background-color: #f1e4e6;
    }
  }

  &__search-img-loupe {
    padding: 8px 0 0 0;
  }

  &__search-img-loupe,
  &__link-img-person,
  &__link-img-basket,
  &__link-img-burger {
    fill: #e8e8e8;
  }

  &__search-img-loupe:hover,
  &__link-img-person:hover,
  &__link-img-basket:hover,
  &__link-img-burger:hover {
    fill: #f16d7f;
  }

  &__search-img-loupe:focus,
  &__link-img-person:focus,
  &__link-img-basket:focus,
  &__link-img-burger:focus {
    fill: #f16d7f;
  }

  &__search-img-loupe:active,
  &__link-img-person:active,
  &__link-img-basket:active,
  &__menu-btn:active {
    fill: #f16d7f;
  }

  &__menu-btn {
    border: 1px solid;
    background-color: transparent;
  }
}

.display-block {
  display: block;
}
