.products-bottom {
  &__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 128px 0;

    @include mobile {
      flex-direction: column;
      margin: 0 0 64px 0;
    }
  }

  &__card {
    background-color: #f8f8f8;
    width: 360px;
  }

  &__card_1 {
    @include tablet {
      margin: 0 8px 0 0;
    }

    @include mobile {
      margin: 0;
    }
  }

  &__card_2 {
    @include mobile {
      display: none;
      margin: 0 0 8px 0;
    }
  }

  &__card_3 {
    @include tablet {
      display: none;
    }

    @include mobile {
      display: block;
    }
  }

  &__card-img {
  }

  &__card-title {
    @include font(13px, 16px);
    text-transform: uppercase;
    margin: 24px 0 12px 0;
    padding: 0 0 0 18px;
  }

  &__card-info {
    @include font(14px, 17px);
    color: #5d5d5d;
    margin: 0 0 18px 0;
    padding: 0 29px 0 17px;
  }

  &__card-price {
    @include font(16px, 19px);
    color: #f16d7f;
    margin: 0 0 20px 0;
    padding: 0 0 0 20px;
  }
}
