.registration-content {
  &__wrp {
    display: flex;

    @include mobile {
      flex-direction: column;
    }
  }

  &__form {
    width: 31%;
    margin: 0 128px 96px 0;

    @include tablet {
      width: 48%;
      margin: 0 22px 96px 0;
    }

    @include mobile {
      width: 100%;
      margin: 0 0 40px 0;
    }
  }

  &__text {
    width: 57%;
    margin: 64px 0 0 0;
    @include font(24px, 29px, 300);

    @include tablet {
      width: 48%;
      @include font(16px, 19px, 300);
    }

    @include mobile {
      width: 100%;
      margin: 0 0 100px 0;
    }
  }

  &__text-title {
    margin: 0 0 22px 0;
    text-transform: uppercase;

    @include tablet {
      margin: 0 0 32px 0;
    }
  }

  &__text-title-subtitle {
    margin: 0 0 21px 0;

    @include tablet {
      margin: 0 0 22px 0;
    }
  }

  &__text-item {
    padding: 0 0 16px 43px;
    position: relative;

    &_penult {
      padding: 0 0 16px 43px;

      @include tablet {
        padding: 0 0 26px 43px;
      }
    }
  }

  &__text-item::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 16px;
    background-image: url(../img/img-registration/check-mark.svg);
    left: 0px;
    top: 6px;
  }
}
