.sales {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: 31%;
    min-height: 260px;
    @include flex-center;
    border: 1px solid;
    flex-direction: column;
    background-size: cover;
    box-sizing: border-box;
    padding: 0 10px 0 10px;

    @include tablet {
      width: 31%;
      min-height: 167px;
    }

    @include mobile {
      width: 100%;
      min-height: 247px;
    }
  }

  &__item-offer {
    margin: 10px 0 0 0;
    padding: 0 10px 0 10px;
  }

  &__item-offer-white {
    color: $white-text;
    @include font(16px, 19px);
    text-align: center;
    text-transform: uppercase;
  }

  &__item-chapter {
    padding: 0 10px 0 10px;
    margin: 0 0 10px 0;
  }

  &__item-chapter-pink {
    color: $pink-color;
    @include font(24px, 29px, 700);
    text-align: center;
    text-transform: uppercase;
  }

  &__item_woman {
    background-image: url(../img/sales-woman.svg);
    background-repeat: no-repeat;

    @include mobile {
      margin: 0 0 32px 0;
    }
  }

  &__item_men {
    background-image: url(../img/sales-man.svg);
    background-repeat: no-repeat;

    @include mobile {
      margin: 0 0 32px 0;
    }
  }

  &__item_kids {
    background-image: url(../img/sales-kids.svg);
    background-repeat: no-repeat;
  }

  &__item_accesories {
    background-image: url(../img/sales-accesories.svg);
    width: 100%;
    margin: 30px 0 97px 0;
    min-height: 178px;

    @include tablet {
      min-height: 116px;
      margin: 30px 0 154px 0;
    }

    @include mobile {
      min-height: 111px;
      margin: 30px 0 64px 0;
    }
  }
}
