.cart-content {
  display: flex;
  padding: 96px 0 128px 0;
  justify-content: space-between;

  &__cards-item {
    display: flex;
    box-shadow: 0px 0 10px grey;
    margin: 0 0 40px 0;
    width: 652px;
    position: relative;
  }

  &__cards-item:hover {
    outline: 2px solid #f16d7f;
  }

  &__cards-item::after {
    content: "";
    top: 28px;
    right: 22px;
    width: 18px;
    height: 18px;
    background-image: url(../img/img-cart/cross.svg);
    position: absolute;
  }

  &__cards-btn-wrp {
    display: flex;
    justify-content: space-between;
  }

  &__cards-btn {
    text-transform: uppercase;
    padding: 16px 40px;
    background-color: #ffffff;
    border: 1px solid #a4a4a4;
    @include font(14px, 17px, 300);
  }

  &__cards-btn:hover {
    outline: 2px solid #f16d7f;
  }

  &__cards-btn:active {
    outline: 2px solid black;
  }

  &__shipping-adress {
    display: flex;
    flex-direction: column;
  }

  &__shipping-title {
    text-transform: uppercase;
    @include font(16px, 19px, 300);
    color: #575757;
    margin: 0 0 20px 0;
  }

  &__shipping-city,
  &__shipping-state,
  &__shipping-postcode {
    width: 360px;
    margin: 0 0 22px 0;
    padding: 12px 0 15px 17px;
    border: 1px solid #a4a4a4;
  }

  &__shipping-city:hover,
  &__shipping-state:hover,
  &__shipping-postcode:hover {
    outline: 2px solid #f16d7f;
  }

  &__shipping-city:active,
  &__shipping-state:active,
  &__shipping-postcode:active {
    outline: 2px solid black;
  }

  &__shipping-form-btn {
    text-transform: uppercase;
    @include font(11px, 13px, 300px, light);
    padding: 9px 14px 11px 15px;
    background-color: #ffffff;
    border: 1px solid #a4a4a4;
    color: #a4a4a4;
  }

  &__shipping-form-btn:hover {
    outline: 2px solid #f16d7f;
  }

  &__shipping-form-btn:active {
    outline: 2px solid black;
  }
}
