.header {
  background-color: $black;
  min-height: 75px;
  display: flex;
  align-items: center;

  &__nav {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 75px;
    background-color: #ffffff;
    box-shadow: 0px 0 10px $grey-text;
  }

  &__nav-title {
    text-transform: uppercase;
    @include font(14px, 17px, 700);
    padding: 37px 143px 24px 34px;
  }

  &__nav-list {
    margin: 0 0 120px 0;
  }

  &__link {
    text-decoration: none;
    margin: 0 0 0 33px;
  }

  &__link-person {
    width: 29px;
    height: 29px;
    fill: #e8e8e8;
  }

  &__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-form-wrp {
    display: flex;

    @include tablet {
      margin: 0 0 0 16px;
    }

    @include mobile {
      margin: 0;
    }
  }

  &__search {
    margin: 0 0 0 41px;
    display: flex;
  }

  &__search-form {
    margin: 0 0 0 10px;
  }

  &__search-img-loupe,
  &__link-img-person,
  &__link-img-basket {
    fill: #e8e8e8;
  }

  &__search-img-loupe:hover,
  &__link-img-person:hover,
  &__link-img-basket:hover,
  &__menu-btn:hover {
    outline: 2px solid $white-text;
  }

  &__search-img-loupe:focus,
  &__link-img-person:focus,
  &__link-img-basket:hover,
  &__menu-btn:focus {
    box-shadow: 0px 5px 20px 2px rgba(241, 109, 127, 0.59);
  }

  &__search-img-loupe:active,
  &__link-img-person:active,
  &__menu-btn:active {
    outline: 2px solid $pink-color;
  }

  &__menu-btn {
    border: 1px solid;
    background-color: transparent;
  }
}

.display-block {
  display: block;
}
