.registration {
  &__title-wrp {
    background-color: #f8f3f4;
  }

  &__title-text {
    @include font(24px, 29px);
    color: #f16d7f;
    text-transform: uppercase;
    padding: 60px 0 60px 0;

    @include mobile {
      text-align: center;
    }
  }

  &__content-wrp {
    display: flex;

    @include mobile {
      flex-direction: column;
    }
  }

  &__content-form {
    width: 31%;
    margin: 0 128px 96px 0;

    @include tablet {
      width: 48%;
      margin: 0 22px 96px 0;
    }

    @include mobile {
      width: 100%;
      margin: 0 0 40px 0;
    }
  }
}
