.registration-form {
  &__name {
    display: flex;
    flex-direction: column;
  }

  &__name-title {
    @include font(16px, 19px, 300);
    margin: 64px 0 20px 0;
  }

  &__name-firstname {
    @include font(13px, 16px, 300);
    padding: 12px 0 15px 17px;
    margin: 0 0 20px 0;

    &:hover {
      outline: 2px solid #f16d7f;
    }

    &:focus {
      box-shadow: 0px 5px 20px 2px rgba(241, 109, 127, 0.59);
    }
  }

  &__name-lastname {
    @include font(13px, 16px, 300);
    padding: 12px 0 15px 17px;
    margin: 0 0 20px 0;

    &:hover {
      outline: 2px solid #f16d7f;
    }

    &:focus {
      box-shadow: 0px 5px 20px 2px rgba(241, 109, 127, 0.59);
    }
  }

  &__radio-label {
    position: relative;
  }

  &__radio-label::before {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    left: 0;
    border: 1px solid #a4a4a4;
    border-radius: 50%;
  }

  &__radio-male-text,
  &__radio-female-text {
    @include font(11px, 13px, 300);
    padding: 0 20px 0 27px;
  }

  &__radio-other-text {
    @include font(11px, 13px, 300);
    padding: 0 20px 0 27px;
    display: none;

    @include tablet {
      display: inline-block;
    }
  }

  &__login {
    display: flex;
    flex-direction: column;
  }

  &__login-title {
    @include font(16px, 19px, 300);
    margin: 33px 0 20px 0;
  }

  &__login-email {
    @include font(13px, 16px, 300);
    padding: 12px 0 15px 17px;
    margin: 0 0 20px 0;

    &:hover {
      outline: 2px solid #f16d7f;
    }

    &:focus {
      box-shadow: 0px 5px 20px 2px rgba(241, 109, 127, 0.59);
    }
  }

  &__login-password {
    @include font(13px, 16px, 300);
    padding: 12px 0 15px 17px;
    margin: 0 0 15px 0;

    &:hover {
      outline: 2px solid #f16d7f;
    }

    &:focus {
      box-shadow: 0px 5px 20px 2px rgba(241, 109, 127, 0.59);
    }
  }

  &__bottom-text {
    @include font(13px, 16px, 300);
    margin: 0 0 39px 0;
    color: #b1b1b1;
  }

  &__btn {
    text-transform: uppercase;
    background-color: #f16d7f;
    border: none;
    color: white;
    @include flex-center;
  }

  &__btn:hover {
    animation: heartbeat 1.5s ease-in-out infinite both;
  }

  &__btn:active {
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
      both;
  }

  &__btn:focus {
    box-shadow: 0px 5px 20px 2px rgba(241, 109, 127, 0.59);
  }

  &__btn-text {
    @include font(14px, 17px);
    display: block;
    padding: 16px 20px 17px 29px;
  }

  &__btn-arrow {
    padding: 0 20px 0 0;
    fill: #ffffff;
  }
}

[type="radio"]:checked + .registration-form__radio-label::before {
  background: #a4a4a4;
  border-color: black;
}

[type="radio"]:hover + .registration-form__radio-label::before {
  border-color: #f16d7f;
}
